.Dialogs{
    position: relative;
    width: 834px;
    min-height: 100vh;
    background-color: rgb(231, 228, 228);
    border-radius: 10px;
    border: 1px solid rgb(240, 229, 229);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "users messages";
}
.Dialogs_items{
    grid-area: users;
    border-right: 1px solid black;
}
.Messages{
    grid-area: messages;
}

