.Page_body{
    position: relative;
    padding: 45px 0;
    margin: 0 auto;
    width: 1024px;
    display: grid;
    grid-template-columns: 180px 844px;
    grid-template-areas: 'navbar page_body';
    gap: 10px;
}
.Page_Body_page{
    grid-area: page_body;
    margin-top: 10px;
}